// .cont{
//     background-color: rgb(50, 50, 50);
// }
.titulocol{
    color: #EBECF0;
    height: 15vh;
    font-size: 5vw;
}
.mobile{
    background-color: #EBECF0;
    color: black;
    border-radius: 10px;
}
.coltext{
    height: 85vh;
}
// .colbotons{
//     background-color: wheat;
//     border: 1px solid black;
//     border-radius: 20px;
// }
.text{
    font-size: 3vw;
}
.divtext1{
    background-color: #EBECF0;
    height: 80vh;
    width: 40vw;
    margin: 5vw;
    border-radius: 20px;
}
.divtext2{
    height: 5vh;
    width: 10vw;
    background-color: #EBECF0;
    margin: 5px;
}

.imagenes{
    width: 25vw;
    height: 35vh;
    margin: 50px;
}
.imagenes2{
    width: 25vw;
    height: 40vh;
    margin: 50px;
}

.wordlogin{
    text-decoration: none;
    color: black;
}
.wordregister{
    text-decoration: none;
    color: black;
}