.cont{
    background-color: rgb(50, 50, 50);
}
.titulocol{
    color: aqua;
    height: 15vh;
    font-size: 50px;
}
.mobile{
    background-color: aqua;
    color: black;
    border-radius: 10px;
}
.coltext{
    height: 85vh;
}
// .colbotons{
//     background-color: wheat;
//     border: 1px solid black;
//     border-radius: 20px;
// }
.text{
    font-size: 30px;
}
.divtext1{
    background-color: white;
    height: 80vh;
    width: 40vw;
    margin: 5px;
    border-radius: 20px
}
.divtext2{
    height: 5vh;
    width: 15vw;
    background-color: aqua;
    margin: 5px;
}