// .cont{
//     background-color: rgb(50, 50, 50);
// }
.titulocol{
    font-size: 5vw;
    margin-bottom: 10px;
}
.mobile{
    background-color: #EBECF0;
    color: black;
    border-radius: 10px;
}
.store{
    color: black;
}
// .coltext{
//     height: 85vh;
// }
.text{
    font-size: 3vw;
}
.divtext1{
    background-color: #EBECF0;
    height: 60vh;
    width: 30vw;
    border-radius: 20px;
}
.divtext2{
    height: 5vh;
    width: 10vw;
    margin: 5px;
}

.imagenes{
    width: 25vw;
    height: 35vh;
    margin: 50px;
}
.imagenes2{
    width: 25vw;
    height: 40vh;
    margin: 50px;
}

.wordlogin{
    text-decoration: none;
    color: black;
}