@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Dancing+Script&family=Julee&family=Satisfy&display=swap');

.conthome{
    height: 80vh;

}
.divcarousel{
    background-color: black;
}
.imghome{
    border-radius: 1em;
    margin: 1vh;
}
.divtext{
    color: white;
    background-color: black;
    height: 20vh;
}
.ptext{
    font-family: 'Dancing Script', cursive;
    font-size: 8vh;

}
.textoimagen{
    width: 45vw;
    margin-top: 3em;
    color: black;
    border: 1px solid black;
    font-family: 'Comfortaa', cursive;
    font-size: 2vh;
}
.imagentexto{
    margin-top: 3em;
    margin-bottom: 1em;
}
.imagenes{
    width: 40vw;
    height: 40vh;
}
.footer{
    background-color: whitesmoke;
}
.divlogo{
    background-color: whitesmoke;
    height:5vh;
    width: 2vw;
}
.divfooter{
    color: white;
    background-color: black;
    width: 97vw;
    height: 10vh;
}