
.conthome{
    height: 80vh;

}
.imghome{
    border-radius: 1em;
    margin: 1vh;
}
.divtext{
    background-color: whitesmoke;
    width: 97vw;
    height: 20vh;
    border-radius: 1em;
}
.ptext{
    margin-top: 1vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.textoimagen{
    margin-top: 3em;
    color: rgb(15, 98, 146);
    border: 1px solid white;
    border-radius: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vh;
}
.imagentexto{
    margin-top: 3em;
    margin-bottom: 1em;
}
.coltextimg{
    background-color: black;
} 
.imagenes{
    width: 40vw;
    height: 40vh;
}
.footer{
    background-color: whitesmoke;
}
.divlogo{
    background-color: whitesmoke;
    height:5vh;
    width: 2vw;
}
.divfooter{
    background-color: whitesmoke;
    width: 97vw;
    height: 10vh;
    border-radius: 1em;
    border: black solid 1px;
}
.colfooter{
    background-color: black;
}