.movilbox{
    height: 50vh;
    margin: 5em;

}
.movildiv{
    margin-left: 5em;
}
.divcomprar{
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    height: 10vh;
    width: 10vw;
}

.divcomprar:hover{
    background-color: black;
    color: white;
}