.header {
    background-color: #EBECF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
.wordheader{
    text-decoration: none;
    color: black;
}
