

.header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: white 1px solid;

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
.wordheader{
    text-decoration: none;
    color: rgb(15, 98, 146);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divlogo{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.wordlogo{
    color: rgb(243, 239, 224);
    font-size: 2vw;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}
