@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Julee&display=swap');

.textenhorabuena{
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
}
.contenhorabuena{
    border: solid black 2px;
    border-radius: 20px;
    box-shadow: 10px 10px  rgba(6, 6, 6, 0.603);
}