$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

.contform{
    background-color:$color-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.containerform {
    background-color:$color-bg;
    width: 30vw;
}

.words {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    margin-right: $ruler/2;
    box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  
    &:focus {
      box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
  
}

.Boton {
    color:black;
    font-weight: bold;
    box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    margin: 10px;
}

.botonhome{
    background-color: black;
    width: 5vw;
    margin: 10px;
    border: solid 1px black;
  }
  .linkhome{
    text-decoration: none !important;
    color: white;
  }